/****  modal botón Nuevo ****/
.container-text {
    text-align: center;
    padding-bottom: 20px;
}

.container-button-new {
    display: -webkit-inline-box;
}

.space-button {
    padding-right: 20px;
}

/**** modal botón Guardar ****/
.container-icon {
    padding-bottom: 15px;
    display: -webkit-inline-box;
}

.space-icon {
    padding-right: 10px;
}

.space-label-icon {
    padding-right: 10px;
}

.container-textbox-name-quotation{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.container-button-save{
    padding-top: 40px;
}
