.container-navbar{
    padding-bottom : 15px;
}
.menu-actions{
    width    : 100%;
    height   : 70px;
    background-image: radial-gradient(circle at 97% 7%, #1c54b9, rgba(28, 84, 185, 0) 98%), radial-gradient(circle at 1% 21%, rgba(20, 47, 94, 0), #142f5e), radial-gradient(circle at 0 0, #1f3f79, #004277) !important;
    display  : table;
    text-align : center;
}
.item-menu{
    display : table-cell;
    vertical-align : middle;
    height      : 100%;
    width       : 33.33%;
    font-family : $avenir !important;
    font-size   : $fonts-18 !important;;
    font-weight : 500;
    color       : $color-white
  }
