.gnp-text-box-password-font-14 {
    font-family : $avenir;
    font-size   : $fonts-14;
}
.gnp-text-box-password-font-17 {
    font-family : $avenir;
    font-size   : $fonts-17;
}
.texbox-password-error-label {
  float : left;
  color : $color-red;
  font-family : $avenir;
  font-size   : $fonts-12;
}
