
.standard-of-living {
    position        : relative;
    display         : flex;
    align-content   : center;
    border-left     : 4px solid $color-green-loader;
    padding         : 5px;
    justify-content : left;
    top             : 14px;
    margin-bottom   : 20px;
}


.standard-of-living > div {
    @include title-color-size( $color-title, $fonts-24 );
}

.container-grid {
    margin: 0px !important;
}

.container-grid-multi {
    display: flex;
    align-items: center;
}
.container-grid-single{
    display: flex;
    justify-content: flex-end;
}

.container-grid-button {
    display: flex;
    justify-content: flex-end;
}
